.game {
  position:relative;
  width: auto;
  height: 5rem;
}

.dice__container {
  position:absolute;
  bottom: 1.5rem;
  display: inline-block;
}

.dice__container_one {
  right:5.5rem;
}
.dice__container_two {
  right: 0.5rem;
}
.dice {
  position: relative;
  width: 5rem;
  height: 5rem;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.dot {
  position: absolute;
  width: 1rem;
  height: 1rem;
  margin: -5px 5px 5px -5px;
  border-radius: 20px;
  background-color: $color-primary-dark;
  box-shadow: inset 2px 2px #060505a5;
}

.side {
  position: absolute;
  background-color: $color-primary-light;
  border-radius:5px;
  width: 5rem;
  height: 5rem;
  border: 1px solid #e5e5e5;
  text-align: center;
  line-height: 2em;
}

.side:nth-child(1) {
  transform: translateZ(3.1em); }

.side:nth-child(6) {
  transform: rotateY(90deg) translateZ(3.1em); }

.side:nth-child(3) {
  transform: rotateY(-90deg) translateZ(3.1em); }

.side:nth-child(4) {
  transform: rotateX(90deg) translateZ(3.1em); }

.side:nth-child(5) {
  transform: rotateX(-90deg) translateZ(3.1em); }

.side:nth-child(2) {
  transform: rotateY(-180deg) translateZ(3.1em); }

.two-1, .three-1, .four-1, .five-1, .six-1 {
  top: 20%;
  left: 20%;
}

.four-3, .five-3, .six-4 {
  top: 20%;
  left: 80%; }

.one-1, .three-2, .five-5 {
  top: 50%;
  left: 50%; }

.four-2, .five-2, .six-3 {
  top: 80%;
  left: 20%; }

.two-2, .three-3, .four-4, .five-4, .six-6 {
  top: 80%;
  left: 80%; }

.six-2 {
  top: 50%;
  left: 20%; }

.six-5 {
  top: 50%;
  left: 80%;
}

.dice__img {
  position: absolute;
}

.side.hidden {
  display: none;
}

.rolling {
  animation: rolling 0.4s infinite;
}

@keyframes rolling {
  50% {
    transform: rotateX(455deg) rotateY(455deg);
  }
}
