html {
  font-size: 10px;
}

body {
  @extend %font-primary;
  @include font($size: 1.6rem, $height: 120%, $weight: 400);
  display: flex;
  flex-direction: column;
  height: 100%;
	background: url('../assets/images/pageBG.png') center center/cover no-repeat fixed;
  color: $color-primary-light;
}

body ::-webkit-scrollbar {
  width: 5px;
}
body ::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: $color-primary-light;
}
body ::-webkit-scrollbar-track {
  border-radius: 12px;
  background-color: rgba(0,10,20,.3);
}

.main-content {
  flex: 1 1 auto;
}

.container {
  // position: relative;
  max-width: $content-width;
  margin: 0 auto;
  padding: 0 1.5rem;
  @include min-media-desktop {
    max-width: 100%;
  }
  @include max-media-small-desktop {
    max-width: 1000px;
  }

  @include max-media-tablet {
    max-width: 740px;
    padding: 0 20px;
  }
  @include max-media-mobile {
    max-width: 500px;
    padding: 0 10px;
  }
}
.subtitle {
  @include font(2.4rem, 130%, 700);
  margin: 1.2rem 0 0.8rem 0;
}

.link {
  @include font(1.8rem, 120%, 700);
  @extend %transition;
  color: $color-primary-light;
  cursor: pointer;
  &:hover {
    color: darken($color-primary-light, 40%);
  }
}

.btn {
	@extend %transition;
  @include font(1.6rem, 120%);
  color: $color-primary-light;
  border: 0;
  border-radius: 8px;
  background-size: contain;
  background-color: $color-btn-secondary;
  cursor: pointer;
  z-index: 0;
   &:hover {
    background-color: darken($color-btn-secondary, 20%);
	}
}

.ico {
  padding: -2px;
}

.hidden {
  display: none;
}

.active {
  border-bottom: 1px solid $color-primary-light;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-bs {
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  vertical-align: middle;
  border-style: none;
}
