.select {
  animation: pulse 1s infinite alternate;
  transition: all 0.2s ease-in-out;
  border: 1px solid $color-primary-dark;
  user-select: none;
  opacity: 1;
  cursor: pointer;
}

.select__road {
  animation: road__pulse 2s infinite alternate;
  transition: all 0.2s ease-in-out;
  user-select: none;
  opacity: 1;
  cursor: pointer;
  background: url('../assets/images/map_animation/gradients.svg');
  background-size: 100% 100%;
}

.build {
  animation: build 2s linear;
  opacity: 1;
}

.moveDown {
  animation-name: moveDown;
  animation-duration: 1.5s;
  animation-fill-mode: both;
}

.get {
  animation: pulse_hex 2s alternate;
  transition: all 0.2s ease-in-out;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 1.2vh $color-background-dark;
  }
  100% {
    box-shadow: 0 0 1.4vh 1.5vh $color-primary-light;
  }
}

@keyframes road__pulse {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}

@keyframes build {
  0% {
    opacity: 0;
    scale: 1;
  }
  25%{
    opacity: 0.5;
    scale: 1.5;
  }
  50% {
    opacity: 1;
    scale: 2;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes moveDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes pulse_hex {
  0% {
    box-shadow: 0 0 2.2vh $color-background-dark;
    border-radius: 0;
  }
  100% {
    box-shadow: 0 0 2.4vh 1.5vh $color-primary-light;
    border-radius: 50%;
  }
}
