.dropdown {
  &__menu {
    @include font(2rem, 120%);
    position: absolute;
    display: none;
    right: 0;
    z-index: 100000;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
    background-color: $color-primary-light;
    min-width: 17rem;
    overflow: auto;
  }
  &__link {
    @include font(1.8rem, 120%, 400);
    padding: 1.2rem 1.6rem;
    color: $color-primary-dark;
  }
}

.login__dropdown-container {
  position: relative;
  display: inline-block;
  margin-left: 0.5rem;
}

.arrow__container,
.dropdown__list-item {
  display: flex;
  align-items: center;
  height: 50px;
}

.arrow {
  margin: 0 1.6rem;
  vertical-align: middle;
  max-height: 100%;
}
