.construction-cost {
  position: relative;
  left: 5px;
  bottom: 0;
  width: 24vh;
  height: 31.3vh;
  background-image: url(../assets/images/ingame/summaryv2.jpg);
  background-size: contain;
  border-radius: 6%;


}
