.right__sidebar {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  width: 16%;
  height: 100vh;
  box-shadow: 2px 2px 4px $color-primary;

  .all-player-board {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1vh;
  }
}
.miniboard__img {
  width: 5vh;
  height: 7vh;
}
.avatar__wrap {
  border-radius: 50%;
  width: 5vh;
  height: 5vh;
  .player__icon {
    width: 3vh;
    height: 3vh;
  }
}
.avatar__red {
  background-color: #ff3131;
}
.avatar__blue {
  background-color: #4620ff;
}
.avatar__green {
  background-color: #07d500;
}
.avatar__orange {
  background-color: #ff7109;
}


.player-board {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.player-board,
.game-chat {
  padding: 0.5rem 0.5rem;
  background-color: darken($color-primary-light, 20%);
  border-radius: 0.5rem;
}

.nickname__wrap {
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
}

.player-miniboard {
  width: 100%;
  justify-content: space-around;
}

.miniboard__counter,
.player-score {
  @include font(1rem, 120%);
  width: 3vh;
  height: 3vh;
  justify-content: center;
  background-color: $color-primary;
  border-radius: 50%;
}
.player-score {
  @include font(1.3rem, 120%);
}
.card__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nickname,
.game-chat {
  color: $color-primary-dark;
}
.card {
  width: 3vh;
}
.game-chat {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  height: 30%;
  &__text {
    width: 100%;
    height: 80%;
    overflow-y: scroll;
  }
}
.message__post {
  justify-content: flex-start;
}
.subheader {
  justify-content: space-between;
}

