.main__wrapper {
  @extend %transition;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.header.hidden {
  display: none;
}

.resources {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resource {
  height: 5.5vh;
  width: 9vh;
  border-radius: 50%;
}
.offer-message,
.error-message {
  @extend %transition;
  position: absolute;
  top: -100%;
  left: 15%;
  width: 20%;
  height: 25%;
  text-align: center;
  background: $color-token;
  border-radius: 8px;
  justify-content: center;
  visibility: hidden;
  z-index: 25;
  &__text {
    @include font(2rem, 120%, 700);
    color: $color-primary-dark;
  }
}

.offer-message.moveDown {
  top: 15vh;
  visibility: visible;
}
.error-message.moveDown {
  top: 15vh;
  visibility: visible;
}