.map__container {
  position: relative;
  margin: auto auto;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(7, 1fr);
  min-height: 90%;
  height: 80vmin;
  width: 90vmin;
  overflow: visible;
  z-index: 2;
}

.map-background__container {
  position: relative;
  margin: auto auto;
  height: fit-content;
  background: radial-gradient(circle,#eed399 0,#eed399 56%,transparent 57%,transparent 100%);
}

.bg__container {
  align-items: center;
  display: flex;
  height: 400vh;
  justify-content: center;
  left: 0;
  margin-left: -200vh;
  margin-top: -200vh;
  position: absolute;
  top: 0;
  width: 400vh;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  overflow-x: scroll;
  overflow-y: scroll;
}

.hex__coastline_1,
.hex__coastline_2 {
  position: absolute;
  width: calc(13vh * 3.3);
  height: calc(calc(13vh * 3.3) *0.3113);
  background: url("../assets/images/ingame/coastline.png");
  background-size: 100% 200%;
  z-index: 1;
}

.hex__coastline {
  &_1 {
    background-position: 0 -100%;
  }
  &_1 {
    background-position: 0 0;
  }
}

.pos {
  &_1 {
    bottom: -0.9%;
    left: 31.9%;
  }
  &_2  {
    bottom: 25.8%;
    left: 60.8%;
    transform: rotate(-60deg);
  }
  &_3 {
    bottom: 66%;
    left: 54.3%;
    transform: rotate(-120deg);
  }
  &_4 {
    left: 20%;
    top: 2.4%;
    transform: rotate(-180deg);
  }
  &_5 {
    left: -8%;
    top: 29%;
    transform: rotate(120deg);
  }
  &_6 {
    bottom: 12.8%;
    left: -1.8%;
    transform: rotate(60deg);
  }
}

.hex {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 131%;
  width: 100%;
  grid-column-end: span 2;
  background: url("../assets/images/ingame/terrains_hexes.png");
  background-size: 700% 400%;
  background-position-y: 0;
  transition: 0.5s;
}

.hex {
  &__num_tocken {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.8vmin;
    height: 3.8vmin;
    background: $color-token;
    border-radius: 50%;
    box-shadow: 3px 3px 3px #000000b0;
    font-size: 2vmin;
    color: black;
    border: 1px solid #00000067;
    user-select: none;
    transition: 0.5s;
  }
  &__settlement {
    &_N {
      z-index: 4;
      position: absolute;
      width: 3.8vmin;
      height: 3.8vmin;
      border-radius: 50%;
      top: -18%;
      right: calc(50% - 1.9vmin);
      opacity: 0;
    }
    &_S {
      z-index: 4;
      position: absolute;
      width: 3.8vmin;
      height: 3.8vmin;
      border-radius: 50%;
      bottom: -10%;
      right: calc(50% - 1.9vmin);
      opacity: 0;
    }
  }

  &__road {
    &_N {
      z-index: 3;
      position: absolute;
      width: 10%;
      height: 51%;
      left: 20%;
      top: -14%;
      transform: rotate(60deg);
      opacity: 0;
    }
    &_W {
      z-index: 3;
      position: absolute;
      width: 10%;
      height: 52%;
      left: -4.5%;
      top: 24%;
      opacity: 0;
    }
    &_S {
      z-index: 3;
      position: absolute;
      width: 10%;
      height: 51%;
      left: 20%;
      bottom: -14%;
      transform: rotate(-60deg);
      opacity: 0;
    }
  }
}

.robber {
  @extend %transition;
  width: 6.2vh;
  height: 10.2vh;
  z-index: 2;
  background: url("../assets/images/ingame/robber.png");
  background-size: 100%;
}

.hex {
  &_sea {
    background: none;
  }
  &_forest {
    background-position-x: -200%;
  }
  &_hills {
    background-position-x: -300%;
  }
  &_mountains {
    background-position-x: -500%;
  }
  &_pasture {
    background-position-x: -400%;
  }
  &_fields {
    background-position-x: -600%;
  }
  &_desert {
    background-position-x: -100%;
  }
  &_harbor {
    background: url('../assets/images/ingame/harbors.webp');
    background-size: 700%;
    background-position-y: 0;
  }
}

.harbor {
  &_all{
    background-position-x: -500%;
  }
  &_brick{
    background-position-x: -200%;
  }
  &_grain{
    background-position-x: -100%;
  }
  &_lumber{
    background-position-x: -300%;
  }
  &_ore{
    background-position-x: -400%;
  }
  &_wool{
    background-position-x: 0;
  }
}

.version {
  &_1 {
    background-position-y: 0;
  }
  &_2 {
    background-position-y: -100%;
  }
  &_3 {
    background-position-y: -200%;
  }
  &_4 {
    background-position-y: -300%;
  }
}

.own_red,
.own_blue,
.own_orange,
.own_green {
  opacity: 1;
}

.hex__road_N.own_red,
.hex__road_W.own_red,
.hex__road_S.own_red {
  background: url('../assets/images/map_animation/road_red.svg') no-repeat;
  background-size: 100% 100%;
}

.hex__road_N.own_blue,
.hex__road_W.own_blue,
.hex__road_S.own_blue{
  background: url('../assets/images/map_animation/road_blue.svg') no-repeat;
  background-size: 100% 100%;
}

.hex__road_N.own_green,
.hex__road_W.own_green,
.hex__road_S.own_green{
  background: url('../assets/images/map_animation/road_green.svg') no-repeat;
  background-size: 100% 100%;
}

.hex__road_N.own_orange,
.hex__road_W.own_orange,
.hex__road_S.own_orange {
  background: url('../assets/images/map_animation/road_orange.svg') no-repeat;
  background-size: 100% 100%;
}


.hex__settlement_N.own_red,
.hex__settlement_S.own_red {
  background: url('../assets/images/map_animation/settlement_red.svg');
  background-size: 100% 110%;
  background-position: center bottom;
}

.hex__settlement_N.own_blue,
.hex__settlement_S.own_blue {
  background: url('../assets/images/map_animation/settlement_blue.svg');
  background-size: 100% 110%;
  background-position: center bottom;
}

.hex__settlement_N.own_green,
.hex__settlement_S.own_green {
  background: url('../assets/images/map_animation/settlement_green.svg');
  background-size: 100% 110%;
  background-position: center bottom;
}

.hex__settlement_N.own_orange,
.hex__settlement_S.own_orange {
  background: url('../assets/images/map_animation/settlement_orange.svg');
  background-size: 100% 110%;
  background-position: center bottom;
}


.own_red.city {
  background: url('../assets/images/map_animation/city_red.svg');
  background-size: 100% 105%;
  background-position: center bottom;
}

.own_blue.city {
  background: url('../assets/images/map_animation/city_blue.svg');
  background-size: 100% 105%;
  background-position: center bottom;
}

.own_green.city {
  background: url('../assets/images/map_animation/city_green.svg');
  background-size: 100% 105%;
  background-position: center bottom;
}

.own_orange.city {
  background: url('../assets/images/map_animation/city_orange.svg');
  background-size: 100% 105%;
  background-position: center bottom;
}

.active_hex {
  position: relative;
  &::after {
    position: absolute;
    content: '';
    width: 11vmin;
    height: 11vmin;
    top: calc(50% - 5.5vmin);
    left: calc(50% - 5.5vmin);
    border-radius: 50%;
    animation: pulse 1s infinite alternate;
    transition: all 1s ease-in-out;
    border: 1px solid $color-primary;
  }
}

