.map__container {
  position: relative;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(7, 1fr);
  min-height: 90%;
  height: 80vmin;
  width: 90vmin;
  overflow: visible;
  z-index: 3;
}

.map-background__container {
  position: relative;
  margin: 0 auto;
  height: fit-content;
  background: radial-gradient(circle,#eed399 0,#eed399 56%,transparent 57%,transparent 100%);
}

.bg__container {
  align-items: center;
  background: radial-gradient(circle,#009bda 0,#0091cc 18%,#2280b7 23%,#07486e 65%);
  display: flex;
  height: 400vh;
  justify-content: center;
  left: 0;
  margin-left: -200vh;
  margin-top: -200vh;
  position: absolute;
  top: 0;
  width: 400vh;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  overflow-x: scroll;
  overflow-y: scroll;
}

.hex__coastline_1,
.hex__coastline_2 {
  position: absolute;
  width: calc(13vh * 3.3);
  height: calc(calc(13vh * 3.3) *0.3113);
  background: url("../assets/images/ingame/coastline.png");
  background-size: 100% 200%;
  z-index: 1;
}

.hex__coastline_1 {
  background-position: 0 -100%;
}

.hex__coastline_2 {
  background-position: 0 0;
}

.pos_1 {
  bottom: -0.9%;
  left: 31.9%;
}

.pos_2  {
  bottom: 25.8%;
  left: 60.8%;
  transform: rotate(-60deg);
}

.pos_3 {
  bottom: 66%;
  left: 54.3%;
  transform: rotate(-120deg);
}

.pos_4 {
  left: 20%;
  top: 2.4%;
  transform: rotate(-180deg);
}

.pos_5 {
  left: -8%;
  top: 29%;
  transform: rotate(120deg);
}

.pos_6 {
  bottom: 12.8%;
  left: -1.8%;
  transform: rotate(60deg);
}

.hex {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 131%;
  width: 100%;
  grid-column-end: span 2;
  background: url("../assets/images/ingame/terrains_hexes.png");
  background-size: 700% 400%;
  background-position-y: 0;

  &:nth-child(1) {
    grid-column-start: 4;
    top: 5px;
    left: 0px;
  }
  &:nth-child(2) {
    grid-column-start: 6;
  }
  &:nth-child(3) {
    grid-column-start: 8;
  }
  &:nth-child(4) {
    grid-column-start: 10;
  }
  &:nth-child(5) {
    grid-column-start: 3;
  }
  // mountains variant1
  &:nth-child(6) {
    grid-column-start: 5;
  }
  // pasture variant1
  &:nth-child(7) {
    grid-column-start: 7;
  }
  // forest variant1
  &:nth-child(8) {
    grid-column-start: 9;
  }
  &:nth-child(9) {
    grid-column-start: 11;
    top: 13px;
    left: 9px;
  }
  &:nth-child(10) {
    grid-column-start: 2;
    top: 0px;
    left: 7px;
  }
  // field variant1
  &:nth-child(11) {
    grid-column-start: 4;
  }
  // hills variant1
  &:nth-child(12) {
    grid-column-start: 6;
    background-position-x: -300%;
  }
  // pasture variant2
  &:nth-child(13) {
    grid-column-start: 8;
  }
  // hills variant2
  &:nth-child(14) {
    grid-column-start: 10;
  }
  &:nth-child(15) {
    grid-column-start: 12;
  }
  &:nth-child(16) {
    grid-column-start: 1;
  }
  // field variant2
  &:nth-child(17) {
    grid-column-start: 3;
  }
  // forest variant2
  &:nth-child(18) {
    grid-column-start: 5;
  }
  &:nth-child(19) {
    grid-column-start: 7;
  }
  // forest variant3
  &:nth-child(20) {
    grid-column-start: 9;
  }
  // mountains variant2
  &:nth-child(21) {
    grid-column-start: 11;
  }
  &:nth-child(22) {
    grid-column-start: 13;
    top: 12px;
    left: 0;
  }
  &:nth-child(23) {
    grid-column-start: 2;
    top: 13px;
    left: 5px;
  }
   // forest variant4
  &:nth-child(24) {
    grid-column-start: 4;
  }
  // mountains variant3
  &:nth-child(25) {
    grid-column-start: 6;
  }
  // field variant3
  &:nth-child(26) {
    grid-column-start: 8;
  }
  // pasture variant3
  &:nth-child(27) {
    grid-column-start: 10;
  }
  &:nth-child(28) {
    grid-column-start: 12;
  }
  &:nth-child(29) {
    grid-column-start: 3;
  }
   // hills variant3
  &:nth-child(30) {
    grid-column-start: 5;
  }
  // field variant4
  &:nth-child(31) {
    grid-column-start: 7;
  }
  // pasture variant4
  &:nth-child(32) {
    grid-column-start: 9;
  }
  &:nth-child(33) {
    grid-column-start: 11;
    top: -1px;
    left: 16px;
  }
  &:nth-child(34) {
    grid-column-start: 4;
  }
  &:nth-child(35) {
    grid-column-start: 6;
  }
  &:nth-child(36) {
    grid-column-start: 8;
    top: 8px;
    left: 0;
  }
  &:nth-child(37) {
    grid-column-start: 10;
  }
}

.hex {
  &__num_tocken {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.8vmin;
    height: 3.8vmin;
    background: $color-token;
    border-radius: 50%;
    box-shadow: 3px 3px 3px #000000b0;
    font-size: large;
    color: black;
    border: 1px solid #00000067;
  }
  &__settlement {
    &_N {
      z-index: 4;
      position: absolute;
      width: 30%;
      height: 30%;
      border-radius: 50%;
      top: -18%;
      right: calc(50% - 13%);
      opacity: 0;
    }
    &_S {
      z-index: 4;
      position: absolute;
      width: 30%;
      height: 30%;
      border-radius: 50%;
      bottom: -5%;
      right: calc(50% - 13%);
      opacity: 0;

    }
  }

  &__road {
    &_N {
      z-index: 3;
      position: absolute;
      width: 100%;
      height: 50%;
      left: -27%;
      top: -15%;
      transform: rotate(60deg);
      opacity: 0;
    }
    &_W {
      z-index: 3;
      position: absolute;
      width: 100%;
      height: 52%;
      left: -51%;
      top: 23%;
      opacity: 0;
    }
    &_S {
      z-index: 3;
      position: absolute;
      width: 100%;
      height: 50%;
      left: -23%;
      bottom: -12%;
      transform: rotate(-60deg);
      opacity: 0;
    }
  }
}
.hex_harbor {
  .hex__settlement_S {
    width: 38.7%;
    height: 45%;
    bottom: -43%;
    right: 23%;
  }
  .hex__settlement_N {
    width: 38.7%;
    height: 45%;
    top: -30%;
    right: 18%;
  }
  .hex__road_W {
    height: 77%;
    width: 129%;
  }
  .hex__road_N {
    height: 81%;
    width: 125%;
  }
  .hex__road_S {
    height: 77%;
    width: 129%;
  }

}
.harbor_wool {
  .hex__road_W {
    left: -94%;
    top: 34%;
  }
  .hex__road_N {
    left: -66%;
    top: -26%;
  }
  .hex__settlement_N  {
    top: -29%;
    right: 53%;
  }
}
.harbor_all {
  .hex__road_W {
    left: -64%;
    top: 4%;
  }
   .hex__road_N {
    left: -30%;
    top: -41%;
  }
  .hex__settlement_S {
    bottom: -48%;
    right: 18%;
  }
  .hex__settlement_N {
    top: -37%;
    right: 18%;
  }
}
.harbor_ore {
  .hex__road_S {
    left: -58%;
    top: 63%;
  }
  .hex__road_W {
    left: -82%;
    top: 9%;
  }
  .hex__settlement_S {
    bottom: -43%;
    right: 35%;
  }
}
.harbor_grain {
  .hex__road_S {
    left: -31%;
    top: 91%;
  }
  .hex__settlement_S {
    bottom: -54%;
    right: 21%;
  }
}
.harbor_lumber {
  .hex__settlement_S {
    bottom: -61%;
    right: 29%;
  }
}
.harbor_brick {
  .hex__settlement_N {
    top: -59%;
    right: 30%;
  }
}

.robber {
  width: 6.2vh;
  height: 10.2vh;
  z-index: 2;
  background: url("../assets/images/ingame/robber.png");
  background-size: 100%;
}

.hex {
  &_sea {
    background: none;
  }
  &_forest {
    background-position-x: -200%;
  }
  &_hills {
    background-position-x: -300%;
  }
  &_mountains {
    background-position-x: -500%;
  }
  &_pasture {
    background-position-x: -400%;
  }
  &_fields {
    background-position-x: -600%;
  }
  &_harbor {
    position: relative;
    width: 10vmin;
    height: 10vmin;
    background: url('../assets/images/ingame/harbors.png');
    background-size: 700% 100%;
  }
  &_desert {
    background-position-x: -100%;
  }
}

.harbor {
  &_all{
    background-position: -500%;
  }
  &_brick{
    background-position: -200%;
  }
  &_grain{
    background-position: -100%;
  }
  &_lumber{
    background-position: -300%;
  }
  &_ore{
    background-position: -400%;
  }
  &_wool{
    background-position: 0;
  }
}

.version {
  &_1 {
    background-position-y: 0;
  }
  &_2 {
    background-position-y: -100%;
  }
  &_3 {
    background-position-y: -200%;
  }
  &_4 {
    background-position-y: -300%;
  }
}

.own_red,
.own_blue,
.own_orange,
.own_green {
  animation: build 2s linear;
  opacity: 1;
}

.hex__road_N.own_blue,
.hex__road_W.own_blue,
.hex__road_S.own_blue{
  background: url('../assets/images/map_animation/road_blue.svg');
  background-size: 100% 100%;
}

.hex__road_N.own_green,
.hex__road_W.own_green,
.hex__road_S.own_green{
  background: url('../assets/images/map_animation/road_green.svg');
  background-size: 100% 100%;
}

.hex__road_N.own_orange,
.hex__road_W.own_orange,
.hex__road_S.own_orange {
  background: url('../assets/images/map_animation/road_orange.svg');
  background-size: 100% 100%;
}

.hex__road_N.own_red,
.hex__road_W.own_red,
.hex__road_S.own_red {
  background: url('../assets/images/map_animation/road_red.svg');
  background-size: 100% 100%;
}

.hex__settlement_N.own_red,
.hex__settlement_S.own_red {
  background: url('../assets/images/map_animation/settlement_red.svg');
  background-size: 100% 100%;
}

.hex__settlement_N.own_blue,
.hex__settlement_S.own_blue {
  background: url('../assets/images/map_animation/settlement_blue.svg');
  background-size: 100% 100%;
}

.hex__settlement_N.own_green,
.hex__settlement_S.own_green {
  background: url('../assets/images/map_animation/settlement_green.svg');
  background-size: 100% 100%;
}

.hex__settlement_N.own_orange,
.hex__settlement_S.own_orange {
  background: url('../assets/images/map_animation/settlement_orange.svg');
  background-size: 100% 100%;
}

.hex__settlement_N.own_red,
.hex__settlement_S.own_red{
  background: url('../assets/images/map_animation/settlement_red.svg');
  background-size: 100% 100%;
}

.hex__settlement_N.own_blue.city,
.hex__settlement_S.own_blue.city {
  background: url('../assets/images/map_animation/city_blue.svg');
  background-size: 100% 100%;
}

.hex__settlement_N.own_green.city,
.hex__settlement_S.own_green.city {
  background: url('../assets/images/map_animation/city_green.svg');
  background-size: 100% 100%;
}

.hex__settlement_N.own_orange.city,
.hex__settlement_S.own_orange.city {
  background: url('../assets/images/map_animation/city_orange.svg');
  background-size: 100% 100%;
}

.hex__settlement_N.own_red.city,
.hex__settlement_S.own_red.city{
  background: url('../assets/images/map_animation/city_red.svg');
  background-size: 100% 100%;
}
