.modal-choose {
  @extend %transition;
  position: absolute;
  bottom: 1rem;
  left: -116%;
  visibility: hidden;
  &__wrap {
    width: 16vh;
    flex-wrap: wrap;
  }
}
.choose-resource {
  width: 100%;
  justify-content: space-between;
  .resource-icon {
    width: 6vh;
    height: 6vh;
  }
}
.choose-checkbox {
  width: 3vh;
  height: 3vh;
  &:checked {
    background: url('../assets/images/icons/icon-check_green.png');
  }
}
.choose__btns {
  width: 100%;
  justify-content: space-between;
  margin-top: 0.2rem;
  .status__icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}
.modal-choose.modal {
  left: 16%;
  visibility: visible;
}