.player-hand {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 38vh;
  margin-bottom: 1rem;
  &__title {
    @include font(1.6rem, 120%, 700);
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }
  &__resources {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
  }
  &__resource {
    height: calc(6vh * 1.1);
    width: calc(7vh * 1.5);
  }
}
.resource-icon {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  height: 6.5vh;
  width: 6.5vh;
  padding: 2px;
  background-image: url(../assets/images/ingame/cat_icons.png);
  background-position-y: 0;
  background-size: 600% 700%;
  border-radius: 50%;
}
.icon-lumber {
  background-position-x: 0;
}
.icon-brick {
  background-position-x: -100%;
}
.icon-wool {
  background-position-x: -200%;
}
.icon-grain {
  background-position-x: -300%;
}
.icon-ore {
  background-position-x: -400%;
}
.empty {
  opacity: 0.3;
}
.resource-counter {
  @include font(2vh, 120%);
  position: relative;
  left: -1rem;
  padding: 0.2vh;
  width: 3vh;
  height: 3vh;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: $color-primary-light;
  border: 2px solid $color-primary-dark;
  border-radius: 50%;
  box-shadow: 1px 1px 2px $color-primary-dark;
  color: $color-primary-dark;
  text-align: center;
}
.invisible {
  visibility: hidden;
}
