.modal-trade {
  @extend %transition;
  position: absolute;
  top: 4%;
  // bottom: 1rem;
  left: -100%;
  z-index: 5;
  background: transparent;
}

.modal-trade.modal {
  left: 50%;
}
.trade__subtitle {
  @include font(1.6rem, 120%);
  width: 50%;
  text-align: center;
  margin-bottom: 0.5rem;
}

.arrow_left,
.arrow_right {
  height: 2vh;
  width: 4vh;
}
.arrow_left {
  background: url('../assets/images/ingame/arrow_ltr.png');
  background-size: 100% 100%;
}
.arrow_right {
  position: relative;
  left: -1rem;
  background: url('../assets/images/ingame/arrow_rtl.png');
  background-size: 100% 100%;
}
.resource__container {
  width: fit-content;
}
.trade__resource {
  .resource-counter {
    width: 3vh;
    height: 3vh;
  }
}
.trade__resource-icon {
  width: 6vh;
  height: 6vh;
}
.trade__btns {
  justify-content: space-around;
  gap: 1rem;
  .status__icon {
    width: 2rem;
    height: 2rem;
  }
}

.modal-trade__counteroffer {
  position: absolute;
  top: 22%;
  left: -116%;
  width: 100%;
  z-index: 5;
  background: transparent;
}
.counteroffer {
  left: 35%;
}

.counteroffer__btn {
  @include font(1.5rem, 120%);
  text-align: center;
  width: 11rem;
  height: 2rem;
}
.trade__titles {
  width: 100%;
  justify-content: space-between;
  align-items: stretch;
}
.trade-container-counteroffer__wrap {
  justify-content: space-between;
  margin-bottom: 1rem;
}