@import "constants";
@import "mixins";
@import "placeholder";

.map__road-1 {
  top: 52.625%;
  left: 22.625%;
  transform: rotate(-60deg);
  animation: drop_2 12s .75s infinite linear,road_-60deg_drop 12s .75s infinite linear;
}
.map__road-2 {
  top: 45.125%;
  left: 18.5%;
  animation: drop_3 12s 1.5s infinite linear,road_vertical_drop 12s 1.5s infinite linear;
}
.map__road-3 {
  top: 37.75%;
  left: 57.875%;
  transform: rotate(60deg);
  animation: drop_6 12s 3.75s infinite linear,road_60deg_drop 12s 3.75s infinite linear;
}
.map__road-4 {
  top: 37.625%;
  left: 49.125%;
  transform: rotate(-60deg);
  animation: drop_7 12s 4.5s infinite linear,road_-60deg_drop 12s 4.5s infinite linear;
}
.map__road-5 {
  top: 22.5%;
  left: 40.5%;
  transform: rotate(-60deg);
  animation: drop_2 12s 6.75s infinite linear,road_-60deg_drop 12s 6.75s infinite linear;
}
.map__road-6 {
  top: 30%;
  left: 44.875%;
  animation: drop_3 12s 7.5s infinite linear,road_vertical_drop 12s 7.5s infinite linear;
}
.map__road-7 {
  top: 60.25%;
  left: 62.5%;
  animation: drop_6 12s 9.75s infinite linear,road_vertical_drop 12s 9.75s infinite linear;
}
.map__road-8 {
  top: 52.75%;
  left: 66.875%;
  transform: rotate(60deg);
  animation: drop_7 12s 10.5s infinite linear,road_60deg_drop 12s 10.5s infinite linear;
}

.map__settlement-1 {
  top: 58.25%;
  left: 32.125%;
  animation: drop_1 12s 0s infinite linear,settlement_drop 12s 0s infinite linear;
}
.map__settlement-2 {
  top: 43.25%;
  left: 23.25%;
  animation: drop_4 12s 2.25s infinite linear,settlement_drop 12s 2.25s infinite linear;
}
.map__settlement-3 {
  top: 38.375%;
  left: 67.375%;
  animation: drop_5 12s 3s infinite linear,settlement_drop 12s 3s infinite linear;
}

.map__settlement-4 {
  top: 38.375%;
  left: 50%;
  animation: drop_8 12s 5.25s infinite linear,settlement_drop 12s 5.25s infinite linear;
}

.map__settlement-5 {
  top: 23.125%;
  left: 41%;
  animation: drop_1 12s 6s infinite linear,settlement_drop 12s 6s infinite linear;
}

.map__settlement-6 {
  top: 38.375%;
  left: 50%;
  animation: drop_4 12s 8.25s infinite linear,settlement_drop 12s 8.25s infinite linear;
}

.map__settlement-7 {
  top: 68.875%;
  left: 67.375%;
  animation: drop_5 12s 9s infinite linear,settlement_drop 12s 9s infinite linear;
}

.map__settlement-8 {
  top: 53.625%;
  left: 76.125%;
  animation: drop_8 12s 11.25s infinite linear,settlement_drop 12s 11.25s infinite linear;
}


@keyframes drop_1 {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  49.5% {
    opacity: 0;
  }
}
@keyframes drop_2 {
  0% {
    opacity: 1;
  }
  42.75% {
    opacity: 1;
  }
  43.25% {
    opacity: 0;
  }
}
@keyframes drop_3 {
  0% {
    opacity: 1;
  }
  36.5% {
    opacity: 1;
  }
  37% {
    opacity: 0;
  }
}
@keyframes drop_4 {
  0% {
    opacity: 1;
  }
  30.25% {
    opacity: 1;
  }
  30.75% {
    opacity: 0;
  }
}
@keyframes drop_5 {
    0% {
        opacity: 1;
    }

    24% {
        opacity: 1;
    }

    24.5% {
        opacity: 0;
    }
}

@keyframes drop_6 {
  0% {
    opacity: 1;
  }
  17.75% {
    opacity: 1;
  }
  18.25% {
    opacity: 0;
  }
}
@keyframes drop_7 {
  0% {
    opacity: 1;
  }
  11.5% {
    opacity: 1;
  }
  12% {
    opacity: 0;
  }
}
@keyframes drop_8 {
    0% {
        opacity: 1;
    }

    5.25% {
        opacity: 1;
    }

    5.75% {
        opacity: 0;
    }
}

@keyframes road_-60deg_drop {
  0% {
    transform: rotate(-60deg) translate(86.6%,-50%);
  }
  1.25% {
    transform: rotate(-60deg) translate(86.6%,-50%);
  }
  2.5% {
    transform: rotate(-60deg) translate(0%,0%);
  }
}
@keyframes road_60deg_drop {
  0% {
    transform: rotate(60deg) translate(-86.6%,-50%);
  }
  1.25% {
    transform: rotate(60deg) translate(-86.6%,-50%);
  }
  2.5% {
    transform: rotate(60deg) translate(0%,0%);
  }
}
@keyframes road_vertical_drop {
  0% {
    transform: translate(0%,-100%);
  }
  1.25% {
    transform: translate(0%,-100%);
  }
  2.5% {
    transform: translate(0%,0%);
  }
}
@keyframes settlement_drop {
  0% {
    transform: translate(-50%, -150%);
  }
  1.25% {
    transform: translate(-50%, -150%);
  }
  2.5% {
    transform: translate(-50%, -50%);
  }
}
